<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902413232801-m8e3to1rannorv29ecqdf75i8kt6k38o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902413232801-m8e3to1rannorv29ecqdf75i8kt6k38o</string>
	<key>API_KEY</key>
	<string>AIzaSyBM7m0z1SjJfRyOom86IJbPBaPEUB0zSyU</string>
	<key>GCM_SENDER_ID</key>
	<string>902413232801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitChatPro</string>
	<key>PROJECT_ID</key>
	<string>chit-chat-pro--flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chat-pro--flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902413232801:ios:ec8c97fd15e3ae9ad9dee0</string>
</dict>
</plist>